.user_chat_content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: right;

}

.col_1{

}
.col_2{

}





.ufo{
    content: '';
    position: relative;
    top: -10%;
    left: -72%;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.9;
}

.chat_time{
    color: darkgrey;
}
.user_info{
    display: flex;
}