.user_chat_content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.messages_text_item{
    color: #07afff;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 25px 35px 20px rgba(0,0,0,0.05), 25px 30px 30px rgba(0,0,0,0.05),
inset -20px -20px 25px rgb(46, 121, 174);
    text-align: right;
    margin: 25px;
    padding: 30px;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
    align-content: end;
    float: end;
}
.messages_text_item:nth-child(1){
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 53%;
}

.messages_text_item:nth-child(3){
    border-radius: 43% 57% 43% 57% / 43% 70% 57% 43%;
}
.messages_text_item:nth-child(2){
    border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
}

.messages_text_item:hover{
    border-radius: 50%;
}

.messages_text_item::before{
    content: '';
    position: relative;
    top: -10%;
    left: -75%;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.9;
}
/*.messages_text_item::after{*/
/*    content: '';*/
/*    position: relative;*/
/*    top: -170px;*/
/*    left: -67%;*/
/*    width: 5px;*/
/*    height: 5px;*/
/*    background-color: #ffffff;*/
/*    border-radius: 50%;*/
/*    opacity: 0.9;*/
/*}*/
.ufo{
    content: '';
    position: relative;
    top: -10%;
    left: -72%;
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.9;
}

.chat_time{
    color: darkgrey;
}
.user_info{
    display: flex;
}