
.background{
    height: 960px;
    width: 43%;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container{
    position: relative;
    display: grid;
    place-items: start;
    height: 100%;
    width: 150%;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 10px;
    background: rgb(1, 120, 172);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    grid-template-columns: 33% auto;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow: scroll;
}
.container::-webkit-scrollbar{
    display: none;
}
.dialogs{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 20px;
    gap: 1rem;
    width: fit-content;
    overflow: scroll;
}
.dialogs::-webkit-scrollbar{
    display: none;
}
.content_dialogs{

}
.messages{
    position: relative;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    overflow: scroll;

}

.messages::-webkit-scrollbar{
    display: none;
}

.messages_content{
   display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  flex-direction: column;
    gap: 1rem;
    height: auto;
    flex-wrap: nowrap;
    padding-right: 25px;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: flex-end;
}
.messages_content__user{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-top: 20px;
    gap: 1rem;
    height: auto;
    flex-wrap: nowrap;
    padding-right: 25px;
    align-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-end;
    justify-content: flex-end;
}

.active{
    border-color: #02ff02;
    text-decoration: none;

}
.link_dialog{
    text-decoration: none;
}
.input_container{
    position: absolute;
    right: 250px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color:rgb(30, 73, 118);
    border-radius: 40px;
    transform: translate(50%,50%);
    color: white;
    fill: white;
    height: fit-content;
    z-index: 77;
    overflow-x: revert;
}

 .input_field.active{
    width: 640px;
    padding: 0 35px;
     margin: 10px 0;
}
 .input_field.inactive{

 }

.input_field{
    border: none;
    background: none;
    outline: none;
    resize: none;
    padding: 0;
    width: 0;
    /*max-height: 40px;*/
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
}
.input_field::placeholder{
    color: #07afff;
}
.input_field::-webkit-scrollbar{
    display: none;
}
.input_field:is(:focus, :valid){
}
.send_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white;
    float: right;
    width: 40px;
    height: 40px;
    background-color: rgb(30, 73, 118);
    box-shadow: rgb(1, 68, 127) 0px 0px 25px,
    rgb(0, 74, 142) 0px 0px 15px;
    padding: 5px;
    border: 1px solid rgb(0, 200, 255);
    border-radius: 50px;

}
