@font-face {
    font-family: "Palace of Sports";
    font-style: normal;
    src: url("../../../fonts/palace_of_sports.otf");
    font-family: "Petrogradsky";
    font-style: normal;
    src: url("../../../fonts/petrogradski.otf");
}






.suggestion-body__element {
    color: rgb(128, 191, 255);
    border: 1px solid rgb(30, 73, 118);
    background-color: rgb(10, 25, 41);
    box-shadow: rgb(0, 30, 60) 0px 0px 25px,
        rgb(0, 30, 60) 0px 0px 15px;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin: 10px auto;
}

.element__img {
    margin: auto 0;
}

.element__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.element__info__username {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.element__info__details {
    color: rgb(128, 191, 255);
    font-size: 12px;
    font-weight: 500;
    width: 170px;
    overflow-x: hidden;
}

.element__info__location {
    color: rgb(0, 200, 255);
    font-size: 12px;
    font-weight: 500;
}